# Virtual env
.venv/
__pycache__/

# Credenciais
.env

# Dados grandes
data/raw/
data/processed/


# Notebooks e checkpoints
*.ipynb_checkpoints

# Arquivos temporários e logs
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# VSCode
.vscode/

# Testes
tests/__pycache__/
tests/*.pyc

# Sistema
.DS_Store
Thumbs.db
